@use '../scss/tooltip.scss';
@use '../scss/helpers.scss';
@use '../themes/dark-theme.scss';
@use '../themes/light-theme.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background: #f9fbfd;
  overflow: hidden !important;

  #app {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    div {
      transition: 0.1s;

      .component-without-navbar {
        height: 100vh;
      }
    }
  }
}

.info {
  background-color: var(--info);
}

.error {
  background-color: var(--error);
}

.success {
  background-color: var(--success);
}

.warning {
  background-color: var(--warning);
}